<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Muhammed Ali KOCABEY</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">

	<script src="https://kit.fontawesome.com/7b49efd10b.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<style type="text/css">
		body{
			background-color: black;
		}

		dt,dd,ul,li,h1,h2,h3,h4{
			color: white;
		}

		h5{
			color: red;
		}

		#visible{
			visibility: visible;
		}

		#unvisible{
			display: none;
		}

		.footer{
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   color: red;
		   text-align: center;
	    }

	</style>

</head>
<body>

	<div class="container">


		<center><h2 id="visible">Youtube Video URL'sini Giriniz</h2></center>

		<form id="visible" action="/video" method="post">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Youtube URL" name="youtube_url">
			</div>
			<center><button type="submit" onclick="change()" class="btn btn-primary" value="Search">Bilgileri Getir</button></center>
		</form>

		<br>
		<br>
		<center><h5>{{ hata }}</h5></center>
		<br>
		<br>
		<br>
		<br>
		
		<center>
			<button id="unvisible" class="btn btn-success">
				<span class="spinner-border spinner-border-xl"></span>
			  	 Videoya Ait Bilgiler Getiriliyor, Lütfen Bekleyiniz ...
			</button>
		</center>
	</div>

	<script type="text/javascript">
		function change()
		{
			var hiddenItem = document.getElementById("unvisible").style.display = 'block';
		}
	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<div class="footer">
		<center><h4><a href="https://www.muhammedalikocabey.com/" target="_blank">Muhammed Ali KOCABEY</a></h4></center>
	</div>
</body>
</html>